<style type="text/css">
    <!-- -->
    .APCTagCloud {
        font-size: 100%;
        width: 100% ;
        font-family: Arial,Helvetica,sans-serif;
        margin:1em 1em 0 1em;
	}
    .APCTagCloud {
		 line-height:2em;
		 word-spacing:normal;
		 letter-spacing:normal;
		 text-transform:none;
		 text-align:center;
		 text-indent:0;
	}
    .APCTagCloud a:link {text-decoration:none}
    .APCTagCloud a:visited {text-decoration:none}
    .APCTagCloud a:hover {text-decoration: underline;}
    .APCTagCloud a:active {text-decoration: underline;}
    .APCTagCloudWord {padding:0;position:relative;}
    .APCTagCloudWord a {text-decoration:none}
    <!--// -->
</style>